.bg-index1{
    background-image: linear-gradient(97deg, rgb(199, 210, 254), rgb(254, 202, 202), rgb(254, 249, 195));
}
.text-blue{
    color: rgb(53, 38, 250);
}
.text-mediumvioletred{
    color: mediumvioletred;
}
.text-deeppink{
    color: deeppink;
}
.text-darkviolet{
    color: rgb(91, 7, 128);
}
.text-purple{
    color: purple;
}
.text-darkslateblue{
    color: darkslateblue;
}
.text-darkcyan{
    color: darkcyan;
}
.text-dodgerblue{
    color: rgb(3, 72, 129);
}
.text-midnightblue{
    color: midnightblue;
}
.text-navy{
    color: navy;
}
.text-fuchsia{
    color: rgb(197, 5, 197);
}

