.bg-index2{
    background-image:radial-gradient(rgb(254, 240, 138), rgb(187, 247, 208), rgb(134, 239, 172));
}
.text-mediumvioletred{
    color: mediumvioletred;
}
.text-green{
    color: rgb(18, 109, 18);
}
.text-darkmagenta{
    color: darkmagenta;
}
.text-mediumvioletred{
    color: mediumvioletred;
}
.text-orangered{
    color: orangered;
}
.text-orange{
    color: orange;
}
.text-blue{
    color: blue;
}
.text-dodgerblue{
    color: rgb(7, 85, 163);
}
.text-violet{
    color: violet;
}
.text-darkviolet{
    color: darkviolet;
}
.text-hotpink{
    color: hotpink;
}
.text-purple{
    color: rgb(134, 0, 123);
}
.text-lightpurple{
    color: rgb(197, 57, 197);
}
.text-purple-7{
    color: rgb(235, 7, 235);
}
.text-darkblue{
    color: darkblue;
}
.text-cornflowerblue{
    color: rgb(12, 41, 95);
}
